body{
    /* background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); */
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}

body::-webkit-scrollbar {
    display: none;
}

.level{
    width: 100%;
    background: white;
}

.main-container{
    /* display: flex;
    align-items: center; */
    height: 100vh;
    width: 100vw;
}

.progress{
    background-color: white;
}

.welcome{
    font-family: cursive;
    height: 100vh;
    width: 100vw;
    font-size: 10rem;
    margin-top: 4rem;
    text-align: center;
}

.btn{
    width: 7rem;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.gravity{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.startBtn{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.winCard{
    position: absolute;
    background: white;
    top: 30vh;
    left: 30vw;
    right: 30vw;
    display: none;
}

.inputBar{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.RangeInput{
    width: 70%;
}

.youwin{
    text-align: center;
    font-family: monospace;
    font-size: xxx-large;
}

.youwincard{
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    
}

.ip{
    font-family: cursive;
}

.nextBtn{
    font-family: cursive;
    font-style: italic;
}